@font-face {
  font-family: "Assistant-Regular";
  src: url("./fonts/Assistant-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Assistant-Medium";
  src: url("./fonts/Assistant-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Assistant-SemiBold";
  src: url("./fonts/Assistant-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Assistant-Bold";
  src: url("./fonts/Assistant-Bold.ttf") format("ttf");
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
ul,
div {
  font-family: "Assistant-Regular";
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  color: #ffde59;
}
a:focus-visible {
  outline-offset: 0;
}
a:hover {
  color: #f9da82;
}
