.float-left {
  float: left;
}
.row-md-2 {
  display: grid;
  grid-template-columns: auto auto;
}
/* .col-med-6 {
  flex: 1 0 49%;
  padding: 0.5%;
} */
.col-med-6 img {
  border-radius: 50%;
}
.hobbies-container h5,
.hobbies-container h3 {
  color: #f6f6f6;
}
